@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url(../font/Inter-Medium.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(../font/Inter-bold.ttf);
  font-weight: 900;
}

:root {
  /* PRIMARY COLOR */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-one: hsl(37, 97%, 70%);
  --instagram-two: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);

  /* LIGHT THEME */
  --white-bg: hsl(0, 0%, 100%);
  --very-pale-blue-top-bg-pattern: hsl(225, 100%, 98%);
  --light-grayish-blue-card-bg: hsl(227, 47%, 96%);
  --dark-grayish-blue-text: hsl(228, 12%, 44%);
  --very-dark-blue-text: hsl(230, 17%, 14%);

  --toggle: hsl(230, 22%, 74%);

  --container-width: 80rem;

  /* DARK THEME */
  --very-dark-blue-bg: hsl(230, 17%, 14%);
  --very-dark-blue-top-bg-pattern: hsl(232, 19%, 15%);
  --dark-desaturated-blue-card-bg: hsl(228, 28%, 20%);
  --desaturated-blue-text: hsl(228, 34%, 66%);
  --white-text: hsl(0, 0%, 100%);
}

body {
  background: var(--white-bg);
  font-family: 'Inter', sans-serif;
}

section>.container,
nav .container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.dark body {
  background: var(--very-dark-blue-bg);
}

.card {
  background: var(--light-grayish-blue-card-bg);
}

.dark .card {
  background: var(--dark-desaturated-blue-card-bg);
}

.dark nav {
  background: var(--very-dark-blue-top-bg-pattern);
}

nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 18rem;
  background: var(--very-pale-blue-top-bg-pattern);
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

nav .container {
  display: flex;
  padding: 0 0.75rem;
  padding-top: 4rem;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1rem;
}

#follower .container header {
  border-bottom: 1px solid var(--very-dark-blue-text);
}

.container header h1 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 900;
}

.dark .container header h1 {
  color: var(--white-text);
}

.container header p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--dark-grayish-blue-text);
}

.mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  gap: 10px;
}

.mode label {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--dark-grayish-blue-text);
  font-weight: bold;
}

.mode input[type='checkbox'] {
  appearance: none;
  position: relative;
  width: 5.5rem;
  height: 2.5rem;
  background: var(--toggle);
  outline: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;

  transition: all 0.2s ease;
}

.mode input[type='checkbox']::after {
  content: ' ';
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  top: 0;
  background: var(--white-bg);

  transition: transform 500ms ease-in 0.5s;

  transform: scale(0.75);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.mode input[type='checkbox']:checked::after {
  background: var(--very-dark-blue-text);
  left: calc(100% - 2.5rem);
}

.mode input[type='checkbox']:checked {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}


/***********************
* FOLLOWERS SECTION STYLE
************************/

section#followers {
  position: relative;
  width: 100%;
}

#followers .container {
  position: relative;
  top: -5rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

article.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  overflow: hidden;
}


#followers article.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  width: 100%;
}

.container article.card:nth-child(1):before {
  background: var(--facebook);
}

.container article.card:nth-child(2):before {
  background: var(--twitter);
}

.container article.card:nth-child(3):before {
  background-size: cover;
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.container article.card:nth-child(4):before {
  background: var(--youTube);
}

article.card .card-img {
  display: flex;
  align-items: center;
  column-gap: 0.55rem;
}

article.card .card-img p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--dark-grayish-blue-text);
}

.dark article.card .card-img p {
  color: var(--desaturated-blue-text);
}

article.card .card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
}

article.card .card-description h1 {
  color: var(--very-dark-blue-text);
  font-weight: 900;
  font-size: 3.25rem;
}

.dark article.card .card-description h1 {
  color: var(--white-text);
}

article.card .card-description p {
  color: var(--dark-grayish-blue-text);
  font-weight: 600;
  font-size: 1rem;
}

.dark article.card .card-description p {
  color: var(--desaturated-blue-text);
}

article.card .card-date {
  display: flex;
  align-items: center;
  gap: 1rem;
}

article.card .card-date p {
  font-weight: 900;
  font-size: 0.85rem;
  color: var(--lime-green);
}

/******************
* OVERVIEW STYLES
******************/
section#overviews {
  position: relative;
  padding: 0 1rem;
}

section#overviews header {
  margin-bottom: 1rem;
  grid-column: span 5 / span 5;
}

section#overviews header h1 {
  font-size: 2.35rem;
  font-weight: 900;
  color: var(--dark-grayish-blue-text);
}

.dark section#overviews header h1 {
  color: var(--white-text);
}

#overviews .overview-container {
  /* margin-top: 1rem; */
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

#overviews .overview-container article.card {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  height: 100%;
  gap: 2rem;
  color: var(--dark-grayish-blue-text);
  justify-content: space-between;
  border-radius: 8px;
}

.overview-container .page-viewed {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.overview-container .page-viewed p {
  font-weight: 500;
  font-size: 1.25rem;
}

.overview-container .page-viewed h1 {
  font-weight: 900;
  font-size: 2rem;
}

.dark .page-viewed p {
  color: var(--desaturated-blue-text);
}

.dark .page-viewed h1 {
  color: var(--white-bg);
}

#overviews .container article.card .overview-percentage .percentage {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 7px;
}

article.card .overview-percentage {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: end;
}


article.card .overview-percentage>img {
  height: 25px;
  width: 25px;
  display: block;
}

.overview-container .overview-percentage #overviews .overview-container article.card:nth-child(1) .overview-percentage>.percentage p {
  color: var(--lime-green);
}

#overviews .overview-container article.card:nth-child(2) .overview-percentage>.percentage p {
  color: var(--bright-red);
}

#overviews .overview-container article.card:nth-child(3) .overview-percentage>.percentage p {
  color: var(--lime-green);
}

#overviews .overview-container article.card:nth-child(4) .overview-percentage>.percentage p {
  color: var(--lime-green);
}

#overviews .overview-container article.card:nth-child(5) .overview-percentage>.percentage p {
  color: var(--lime-green);
}

#overviews .overview-container article.card:nth-child(6) .overview-percentage>.percentage p {
  color: var(--lime-green);
}

#overviews .overview-container article.card:nth-child(7) .overview-percentage>.percentage p {
  color: var(--bright-red);
}

#overviews .overview-container article.card:nth-child(8) .overview-percentage>.percentage p {
  color: var(--bright-red);
}


/* MEDIA QUERIES STYLES */
@media screen and (min-width: 640px) {
  nav {
    height: 20rem;
  }

  nav .container {
    align-items: start;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }

  .container header h1 {
    font-size: 2rem;
    font-weight: 900;
  }

  #followers .container {
    top: -4rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #overviews .overview-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {

  #followers .container,
  #overviews .overview-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1440px) {
  nav {
    height: 20rem;
  }

  #followers .container,
  #overviews .overview-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}